* {
  margin: 0;
  box-sizing: border-box;
}

#layout {
  width: 50%;
  margin: 10px auto;
}

body {
  background: grey;
  margin: auto;
  width: 80%;
}

header {
  padding-top: 5px;
}



#img_sfondo{
  height: 250px;
  background: green;
  border: 6px solid black;
}

.menutab li {
  display: inline-block;
  vertical-align: middle;
}

.menutab a{
  display: inline-block;
  margin:0 5px;
  color: black;
}

#menu {
  margin: 0 auto;
  background: purple;
  line-height: 50px;
  text-align: center;
}

.clearfix{
  content:'';
  display: table;
  clear: both;
}

.main-header {
  width: 100%;
  margin: 10px auto;
}

.col-sx,
.col-cent,
.col-dx{
  float: left;
}

.col-sx{
  width: 25%;
}

.sidebar{
  background: brown;
  border-radius: 15px;
  border: 1px solid white;
  padding: 5px;
  height: 450px;
  margin-right: 10px;
}

.col-cent{
  width: 50%;
  height: 350px;
}

.testo-cent {
  border: 1px solid black;
  border-radius: 15px;
  background: darkgreen;
  padding: 5px;
  height: 200px;
  margin: 0 10px;
}



.sez1{
  height: 250px;
  border: 1px solid black;
  border-radius: 15px;
  background: #white;
  margin-bottom: 15px;
  padding: 5px;
  margin-left: 10px;
}

.sez2{
  height: 250px;
  border: 1px solid black;
  border-radius: 15px;
  background: #white;
  margin-bottom: 15px;
  padding: 5px;
  margin-left: 10px;
}

.sez3{
  height: 250px;
  border: 1px solid black;
  border-radius: 15px;
  background: #white;
  margin-bottom: 15px;
  padding: 5px;
  margin-left: 10px;
}

.col-dx{
  width: 25%;
}

.foot{
  width: 100%;
  height: 100px;
  background: white;
  border-radius: 15px;
  margin: 0 auto;
  padding: 5px;
}
